.password-visibility-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    color: gray;
}

.toggle-switch {
  width: 40px;
  height: 22px;
  background-color: #ccc;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 2px;
  margin-left: 8px;
  transition: background-color 0.3s ease;
}

.toggle-switch.visible {
  background-color: blueviolet;
}

.switch-stick {
  width: 16px;
  height: 16px;
  background-color: ivory;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-switch.visible .switch-stick {
  transform: translateX(18px);
}
