* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: ivory;
  min-height: 100vh;
}

.dashboard-container {
  max-width: 800px;
  width: 100%;
  padding: 30px;
  margin: auto;
  background-color: ivory;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.student-photo {
  border-radius: 50%;
  object-fit: cover;
}

.info-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.subjects-table {
  margin-top: 30px;
}

.subjects-table table {
  width: 100%;
  border-collapse: collapse;
}

.subjects-table th,
.subjects-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.btn-primary {
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.btn-disabled {
  background-color: gray;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: not-allowed;
}

.btn-secondary {
  margin-top: 20px;
  background-color: #28a745;
  color: white;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
}

.auth-buttons {
  border-top: 1px solid #221b1c;
  margin: 30px 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.btn-outline {
  background: none;
  border: 1px solid #333;
  padding: 8px 12px;
  cursor: pointer;
}

.btn-gray {
  background-color: #221b1c;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}
button:hover {
  scale: 1.1;
}
