.change-password {
  max-width: 400px;
  width: 70%;
  margin: 60px auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.change-password h2 {
  margin-bottom: 1rem;
  color: #4B0082;
}

.change-password form input {
  width: 95%;
  padding: 0.75rem;
  margin: 0.8rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.change-password button {
  padding: 0.6rem;
  width: 100%;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: blueviolet;
  color: ivory;
  font-weight: bold;
  cursor: pointer;
}

.change-password button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.back-btn {
  background-color: darkslategray !important;
}

button:hover {
  opacity: 0.9;
}

.success {
  color: green;
  margin-top: 1rem;
}

.error {
  color: red;
  margin-top: 1rem;
}
