.messages-page {
  padding: 20px;
}

.messages-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.messages-table th,
.messages-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.messages-table th {
  background-color: blueviolet;
  color: ivory;
  font-weight: bold;
}

.deleteBtn {
  padding: 6px 10px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: darkred;
}
