.letterhead {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  background-color: blueviolet;
  padding: 10px 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.logo-container img {
  border-radius: 50%;
}

.letterhead-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: -100px;
}

.school-name {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.school-address,
.exam-details {
  font-size: 14px;
  margin: 0;
}

@media (max-width: 768px) {
  .letterhead {
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    text-align: center;
  }

  .school-name {
    font-size: 22px;
  }

  .school-address,
  .exam-details {
    font-size: 13px;
    text-align: center;
  }

  .letterhead-text {
    gap: 5px;
  }

  .logo-container img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 480px) {
  .letterhead {
    padding: 10px 15px;
  }

  .school-name {
    font-size: 18px;
  }

  .school-address,
  .exam-details {
    font-size: 10px;
  }

  .logo-container img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 320px) {
  .letterhead {
    padding: 5px 10px;
  }

  .school-name {
    font-size: 14px;
  }

  .school-address,
  .exam-details {
    font-size: 6px;
  }

  .logo-container img {
    width: 30px;
    height: 30px;
  }
}